html {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

body {
  line-height: 1.45;
  margin: 0;
  padding: 0;
  color: #333;
  padding: 0 1.45em;
}

dt {
  color: #888;
  margin-top: 0.5em;
  font-weight: bold;
}
dd {
  color: #000;
  margin: 0;
}
